* {
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
#box {
	width: 450px;
	padding: 10px;
	margin: 10px auto;
	background-color: aliceblue;
}
#box #commentform{
	width: 100%;
	border: 1px solid;
}
#fill_in {
	margin-bottom: 10px;
}
#fill_in li{
	list-style: none;
	width: 300px;
	padding: 5px;
}
span{
	border: 1px solid;
	width: 100%;
}
#box .commentbox{
	width: 100%;
	
	border: 1px solid;
}